<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Pat Connaughton Official</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.png" alt="Homepage">
            </a>
        </div>
        <!-- end header-logo -->
        <nav class="header-nav">
            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
            <h3>Navigate to</h3>
            <div class="header-nav__content">
                <ul class="header-nav__list">
                    <li><a class="smoothscroll" href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="services">With Us Foundation</a></li>
                    <li><a class="smoothscroll" href="#business" title="services">Business Ventures</a></li>
                    <li><a class="smoothscroll" href="#ig" title="works">Instagram Feed</a></li>
                    <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
                </ul>
                <p style="margin-bottom: 0px;">Follow Pat on Social Media:</p>
                <ul class="header-nav__social">
                    <li>
                        <a href="https://www.facebook.com/PatrickConnaughtonOfficial/"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/PlanetPat5"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/planetpat5"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <!-- end header-nav__content -->
        </nav>
        <!-- end header-nav -->
        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>
    </header>
    <!-- end s-header -->

    <!-- home
    ================================================== -->
    <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="images/cover.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
        <div class="grid-overlay">
            <div></div>
        </div>
        <div class="home-content">
            <div class="row home-content__main">
                <h3>
                The official website of
                </h3>
                <h1>
                Pat Connaughton
                </h1>
                <!-- <div class="home-content__video">
                    <a class="video-link smoothscroll" href="#contact">
                        <span class="video-icon"></span>
                        <span class="video-text">Have a question?</span>
                    </a>
                </div> -->

                <div class="home-content__button">
                    <!-- <a href="#about" class="smoothscroll btn btn--primary btn--large">
                        With Us Foundation
                    </a>
                    <a href="#contact" class="smoothscroll btn btn--large">
                        Contact
                    </a> -->
                    <form id="target" action="">
                      <input class="full-width" type="text" placeholder="Ask Pat a question" id="question">       
                      <input type="submit" value="Go" class="btn--primary">
                    </form>
                </div>
            </div>
            
            <!-- end home-content__main -->
            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    Scroll
                </a>
            </div>
        </div>
        <!-- end home-content -->
        <ul class="home-social">
            <li>
                <a href="https://www.facebook.com/PatrickConnaughtonOfficial/"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://twitter.com/PlanetPat5"><i class="fab fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/planetpat5"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
        </ul>
        <!-- end home-social -->
    </section>
    <!-- end s-home -->

    <!-- With Us Foundation
    ================================================== -->
    <section id="about" class="s-works target-section">
        <div class="row section-header bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Basketball Camps. Youth Development. Leadership Training.</h3>
                <h1 class="display-1">
                With Us Foundation
                </h1>
            </div>
        </div>
        <!-- end section-header -->
        <div class="row bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    The Mission of the With Us Foundation is to create access to athletics for kids, affording them the opportunity to learn translatable life skills and values through the healthy and enjoyable vehicle of sports. Through participation in athletics kids develop skills that translate in all aspects of life.
                </p>
            </div>
        </div>
        <!-- end about-desc -->
        <div class="row bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <img src="images/foundation.jpg" alt="">
            </div>
        </div>
        <!-- end about-desc -->
        <div class="row bit-narrow">
            <div class="about-process process block-1-2 block-tab-full">
                <!-- 
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Define</h4>
                        <p>
                        Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non quis magni recusandae. 
                        Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos maxime tempore quasi deserunt ab.
                        </p>
                    </div>
                </div>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Design</h4>
                        <p>
                        Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non quis magni recusandae. 
                        Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos maxime tempore quasi deserunt ab.
                        </p>
                    </div>
                </div>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Build</h4>
                        <p>
                        Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non quis magni recusandae. 
                        Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos maxime tempore quasi deserunt ab.
                        </p>
                    </div>
                </div>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Launch</h4>
                        <p>
                        Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non quis magni recusandae. 
                        Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos maxime tempore quasi deserunt ab.
                        </p>
                    </div>
                </div> -->
            </div>
            <!-- end process -->
            <p data-aos="fade-up">
                <a class="btn btn--stroke full-width" href="https://withusfoundation.com/" target="_blank">Visit Foundation Website</a>
            </p>
        </div>
        <!-- end row -->
    </section>
    <!-- end s-about -->

    <!-- BUSINESSES
    ================================================== -->
    <section id="business" class="s-clients target-section">

        <div class="row section-header has-bottom-sep narrow target-section" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Business Ventures</h3>
                <h1 class="display-1">
                Brands, products, and experiences that people love. Learn more about Pat's Businesses.
                </h1>
            </div>
        </div> <!-- end section-header -->

        <div class=" masonry-wrapper" data-aos="fade-up">
            <div class="gutter"></div>
            <div class="card">
                <div class="picture">
                    <img src="images/portfolio/beachhouse.jpg" alt="image" /></div>
                <div class="content">
                    <div class="border-wrapper">
                        <h3>Beach House LLC</h3>
                        <p>Real Estate. Development. Value.</p><p>Beach House believes the formula for success in real estate development is creating value. Our raw land development, existing building renovation, and building expansion projects have all created a finished product of higher value.</p>
                        <img src="images/portfolio/beachhouselogo.jpeg" alt="">
                    </div>
                    <a class="btn btn--primary full-width" href="http://beachhllc.com/" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="picture">
                    <img src="images/portfolio/training.jpg" alt="image" /></div>
                <div class="content">
                    <div class="border-wrapper">
                        <h3>CompetitiveMindset</h3>
                        <span class="desc">CompetitiveMindset is a four-week mentoring program dedicated to helping young athletes navigate the recruiting process and develop the mental and physical habits necessary to compete at the highest level, both on and off the playing court/field. <br><br>Don’t ask if your dreams are crazy, ask if they are crazy enough.</span>
                    </div>
                    <a class="btn btn--primary full-width smoothscroll" href="#contact" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="picture">
                    <img src="images/portfolio/six.png" alt="image" /></div>
                <div class="content">
                    <div class="border-wrapper">
                        <h3>Six Degrees</h3>
                        <span class="desc">Six Degrees combines the distribution of athletic merchandise with the personal brand of athletes. Our goal is to help athletes take ownership of their own brand and provide fans with unique ways to support them throughout their careers — to help foster six degrees of separation between players and their fans.</span>
                    </div>
                    <a class="btn btn--primary full-width smoothscroll" href="#contact" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="picture">
                    <img src="images/portfolio/mentorship.jpg" alt="image" /></div>
                <div class="content">
                    <div class="border-wrapper">
                        <h3>Immersive Training</h3>
                        <span class="desc">Offseason training is a staple of development for any athlete who wants to maximize their potential. Immersive Training is Pat’s way of providing elite level athletes a chance to experience the type of work ethic it takes to become a professional athlete… twice. 
                        <br><br>The program is done on a weekly basis throughout the summer and spots are only available to those who qualify. <br><br>This is Pat’s program, EXTREMELY limited, 100% hands on, side by side with him each day working to get better.</span>
                    </div>
                    <a class="btn btn--primary full-width smoothscroll" href="#contact" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="picture">
                    <img src="images/portfolio/wooly.jpeg" alt="image" /></div>
                <div class="content">
                    <div class="border-wrapper">
                        <h3>Partnership Companies</h3>
                        <span class="desc">Woolly Made - “The NikeiD for Leather Wallets” helping your money look even better than it already does. Use code “friendsofpat” for 20% off</span>
                    </div>
                    <a class="btn btn--primary full-width smoothscroll" href="#contact" target="_blank">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="picture">
                    <img src="images/portfolio/pulse.png" alt="image" /></div>
                <div class="content">
                    <div class="border-wrapper">
                        <h3>Pulse Ventures</h3>
                        <span class="desc">Pulse Ventures helps professional athletes get involved in the business world. I want athletes to take ownership of their brand and business desires away from the playing surface. Pulse makes that process easy and brings us together to achieve more. Keep your hand on the Pulse.<br><br>Follow @PulseVentures on instagram to get involved:</span>
                    </div>
                    <a class="btn btn--primary full-width smoothscroll" href="https://www.instagram.com/pulseventures/" target="_blank">@pulseventures</a>
                </div>
            </div>
        </div>


    </section> <!-- end s-works -->

    <!-- IG Feed
    ================================================== -->
    <section id="ig" class="s-clients target-section">
        
        <div class="row section-header has-bottom-sep narrow target-section" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Instagram - Pat's Latest Posts</h3>
                
            </div>
        </div>
        <!-- end section-header -->
        <div id="content" data-aos="fade-up"></div>
        <div class="row">
            <p data-aos="fade-up">
                <a class="btn btn--stroke full-width" href="https://www.instagram.com/planetpat5" target="_blank">View More...</a>
            </p>
        </div>
    </section>
    <!-- end s-works -->
    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section" class=" page-hero target-section" data-parallax="scroll" data-image-src="images/cover2.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
        <div class="grid-overlay">
            <div></div>
        </div>
        <div class="row section-header narrow" data-aos="fade-up">
            <div class="col-full">
                <h3>Contact</h3>
                <!-- <h1 class="display-1">Feel free to contact us for any <br> project idea or collaboration</h1> -->
            </div>
        </div>
        <!-- end section-header -->
        <div class="row contact-main" data-aos="fade-up">
            <div class="col-full">
                <form method="post" action="send">
                    <div>
                        <label for="nameInput">Your name</label>
                        <input class="full-width contactformborder" type="text" placeholder="Enter name" id="nameInput" name="name">
                    </div>
                    <div>
                        <label for="sampleInput">Your email</label>
                        <input class="full-width contactformborder" type="email" placeholder="Enter email" id="sampleInput" name="email">
                    </div>
                    <div>
                        <label for="sampleRecipientInput">Reason for contacting</label>
                        <div class="ss-custom-select contactformborder">
                            <select class="full-width" id="sampleRecipientInput" name="inquiry">
                                <option value="General Question">General Question</option>
                                <option value="Business Inquiry">Business Inquiry</option>
                                <option value="Appearances">Appearances</option>
                                <option value="Mentoring">Mentoring</option>
                                
                            </select>
                        </div>
                    </div>
                    <label for="exampleMessage">Message</label>
                    <textarea class="full-width contactformborder" placeholder="Your message" id="exampleMessage" name="message"></textarea>
                    <input class="btn full-width" type="submit" value="Submit" style="color: #fff">
                </form>
                <h3 id="sent">{{msg}}</h3>

                
                <!-- <p class="contact-email">
                    <a href="mailto:#0">sayhello@sublime.com</a>
                </p>
                <p class="contact-address">
                1600 Amphitheatre Parkway <br>
                Mountain View, CA, 94043 US 
                </p>
                <p class="contact-numbers">
                +1 (917) 123 456 &nbsp; +1 (917) 333 987
                </p> -->
                <ul class="contact-social">
                    <li>
                        <a href="https://www.facebook.com/PatrickConnaughtonOfficial/"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/PlanetPat5"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/planetpat5"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full ss-copyright">
                <span>© Copyright Pat Connaughton 2018</span>
            </div>
        </div>
        <div class="ss-go-top">
            <a class="smoothscroll btn  btn--primary btn--large" title="Back to Top" href="#top">Back to Top</a>
           
        </div>
    </footer>
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end photoSwipe background -->
    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js'></script>

    <script src="js/main.js"></script>
    <script>
        $("#target").submit(function(event) {

            // alert("Handler for .submit() called.");
            event.preventDefault();
            var value = $("#question").val();
            console.log(value)
            $('#exampleMessage').append($("#question").val());
            $('html, body').animate({
                scrollTop: $("#contact").offset().top
            }, 2000);
            return false;
        });
        $('body').imagesLoaded(function() {
        $('.masonry-wrapper').masonry({
          itemSelector: '.card',
          columnWidth: '.card',
          gutter: '.gutter',
          percentPosition: true,
        });
      });

      $(window).trigger('resize');
</script>
</body>